/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.title {
  fill: #fcd100;
}

#filterRow {
  margin-top: 4px;
  margin-inline-start: 4px;
}

#configTree {
  margin-top: 4px;
  margin-bottom: 4px;
}

#configTreeBody::-moz-tree-cell-text(user) {
  font-weight: bold;
}

#configTreeBody::-moz-tree-cell-text(locked) {
  font-style: italic;
}
